In [2]:
import pandas as pd
import urllib.request, json

In [3]:
#Leo la lista de ids con el resto de datos
data = pd.read_json('../data/tmdb-ids.json', lines=True)
data

        adult      id                      original_title  popularity  video
0       False    3924                             Blondie       1.840  False
1       False    6124                 Der Mann ohne Namen       0.638  False
2       False    8773                 L'amour à vingt ans       3.880  False
3       False   25449  New World Disorder 9: Never Enough       1.750  False
4       False   31975      Sesame Street: Elmo Loves You!       0.631   True
...       ...     ...                                 ...         ...    ...
669471  False  924030                        Furious Road       0.000  False
669472  False  924031                     Tonight At Noon       0.000  False
669473  False  924032                     Noche americana       0.000  False
669474  False  924033          The Curse of the Mummy Cat       0.000  False
669475  False  924034                           Mucked Up       0.000  False

[669476 rows x 5 columns]

In [3]:
#Solo me interesan los ids, por lo que deshecho el resto de columnas
data.drop(columns=['adult', 'original_title', 'popularity', 'video'], inplace=True)

#Renombro la columna de id
data.rename(columns={"id": "tmdb_id"}, inplace=True)

#Creo las columnas de datos que me interesa tener
data = data.reindex(columns = [
    'tmdb_id', 'adult', 'budget', 'genre', 'original_language',
    'original_title', 'overview', 'popularity', 'poster_path',
    'release_date', 'revenue', 'runtime', 'status', 'tagline',
    'title', 'vote_average','vote_count'], fill_value=0)

#Defino el tipo de datos del dataframe
data = data.astype({
    'adult': bool, 'budget': int, 'genre': str, 'original_language': str,
    'original_title': str, 'overview': str, 'popularity': float, 'poster_path': str,
    'release_date': str, 'revenue': int, 'runtime': int, 'status': str, 'tagline': str,
    'title': str, 'vote_average': float, 'vote_count': int
})

#Defino el índice
data.set_index('tmdb_id', inplace=True)

data.head()

,adult,budget,genre,original_language,original_title,overview,popularity,poster_path,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count
tmdb_id,,,,,,,,,,,,,,,,
3924,False,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0,0
6124,False,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0,0
8773,False,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0,0
25449,False,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0,0
31975,False,0,0,0,0,0,0.0,0,0,0,0,0,0,0,0.0,0

In [49]:
#El dataset es enorme, lo divido en trozos de 10000 registros
size = 10000

for i in range(1, 68):
    inicio  = size * (i-1)
    fin     = (size * i) - 1
    trozo = data[inicio:fin]
    trozo.to_csv(f'../data/sliced_files/data_{i}.csv')